. navbar{
Background: transparent;
} 

.main {
  /* The image used */
  background-image: url("wall.jpg");

  /* Set a specific height */
  height: 149vh; 
/*  width: 98vw;*/  

  /* Create the parallax scrolling effect */
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}








/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}